
</main>
<footer>
    <!-- <div class="main-link">
        <div class="first links">
            <a href="https://www.instagram.com/iamkamalkumar17/" target="_blank">
                <img src="/images/instagram.svg" alt="instagram logo">
            </a>
        </div>
        <div class="second links">
            <a href="https://github.com/iamkamalkumar17/" target="_blank">
                <img src="/images/github.svg" alt="github logo">
            </a>
        </div>
        <div class="third links">
            <a href="https://www.linkedin.com/in/kamal-kumar-1a2ba2194/" target="_blank">
                <img src="/images/linkedin.svg" alt="linkedin logo">
            </a>
        </div>
    </div> -->
</footer>
</body>
</html>