<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<header>
    <nav>
        <li class="nav-item">
            <a href="/" class="nav-link">Today</a>
        </li>
        <li class="nav-item">
            <a href="/work" class="nav-link">Work</a>
        </li>
    </nav>
</header>
<main class="container">