<%- include("partials/header.ejs")  %>
<div class="list">
    <div class="heading">
        <h1>
            <%= head %>
        </h1>
    </div>
    <% for(var i = 0; i<list.length; i++) { %>
        <div class="item">
            <input type="checkbox">
            <p>
                <%= list[i]; %>
            </p>
        
        </div>
    <% } %>
    <form action="/today" method="POST">
        
        <input class="text-input" type="text" name="nextTaskToday" placeholder="  next...">
        <input type="submit" value="ADD">
    </form>
</div>
<%- include("partials/footer.ejs")  %>