<%- include("partials/header.ejs")  %>
<div class="heading">
    <h1>Today</h1>
</div>
<div class="item">
    <input type="checkbox">
    <p>item1</p>

</div>
<div class="item">
    <input type="checkbox">
    <p>item1</p>

</div>
<div class="item">
    <input type="checkbox">
    <p>item1</p>

</div>
<%- include("partials/footer.ejs")  %>