<%- include("partials/header.ejs")  %>
<div class="heading">
    <h1>Today</h1>
</div>
<div class="item">
    <input type="checkbox">
    <p>item1</p>

</div>
<div class="item">
    <input type="checkbox">
    <p>item1</p>

</div>
<div class="item">
    <input type="checkbox">
    <p>item1</p>

</div>
<form action="/today" method="POST">
    
    <input type="text" name="nextTaskToday" placeholder="next...">
    <input type="submit" value="OK">
</form>
<%- include("partials/footer.ejs")  %>